/*------  WEATHER  ------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* The Close Button */

.close {
  position: relative;
  top: 26px;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


input {
  height: 23px;
  color: black;
  width: 85%;
}

button {
  margin: auto;
  width: 22%;
}


.footer {
  overflow: hidden;
  position: fixed;
  /*Set the navbar to fixed */
  bottom: 0;
  /*Position the navbar at the top of the page */
  width: 100%;
  /*Full width */
  background-color: rgba(1, 2, 1, 0.98);
  height: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


body {
  background-color: #2e4a62;
}

.footer a {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
}

@media only screen and (orientation: portrait) {


  .contenedor {
    margin: 1px;
    background-color: black;
  }
  .contenedorForecast {
    margin-bottom: 40px;
    margin-top: 36px;
  }

  p {
    margin: 0px;
  }

  .mainCity {
    overflow: hidden;
    position: fixed;
    /*Set the navbar to fixed position */
    top: 0;
    /*Position the navbar at the top of the page*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: aliceblue;
    background-color: rgba(26, 74, 111, 0.81);
  }
  .titulo {

    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    background-color: #062F4F;
    height: 240px;
    display: flex;
    flex-direction: row;
  }

  .titulo2 {
    color: aliceblue;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .titulo2 h3 {
    font-size: 65px;
    margin: 1px;
  }
  .titulo2 h4 {
    font-size: 16px;
    margin: 2px;
  }
  .titulo2 h6 {
    font-size: 12px;
    margin: 2px;
  }
  .icon {
    width: 55%;
  }
  .titulo3 {
    color: aliceblue;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .scrollingwrapper {
    background-color: rgba(26, 74, 111, 0.65);
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .temp {
    display: inline-block;
    width: 16%;
  }

  .detail {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .iconDetail {
    width: 95%;
  }

  .byDay {
    display: flex;
    justify-content: center;
  }
  .detalleDay {
    padding-left: 10px;
    color: aliceblue;
    border: 3px solid linear-gradient(rgba(8, 32, 109, 0.67), rgba(47, 97, 136, 0.82));
    background: linear-gradient(rgba(26, 74, 111, 0.65), rgba(47, 97, 136, 0.82));
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    display: flex;
    align-items: center;
    flex: 2;
  }
  .detalleDay h5 {
    font-size: 25px;
  }
  .detalleDay2 {
    color: aliceblue;
    border: 3px solid linear-gradient(rgba(8, 32, 109, 0.67), rgba(47, 97, 136, 0.82));
    background: linear-gradient(rgba(26, 74, 111, 0.65), rgba(47, 97, 136, 0.82));
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex: 1;
  }

  .logo {
    width: 40%;
  }

  .mainContenCity {
    display: none;
    margin-top: 64px;
    margin-bottom: 35px;
    flex-direction: column;
  }
  .contenCity {
    display: flex;
  }
  .contenCity > div {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 0.5px;
    height: 90px;
    border: 0.3px solid #262216;
  }
  .contenCity h5 {
    font-weight: 550;
    font-size: 30px;
  }
  .contenCity h6 {
    font-weight: 550;

  }
  .city {
    width: 65%;
    color: #D2691E;
    background-color: #EADEDB;
  }
  .detalleCity {
    width: 35%;
    color: #E94B3C;
    font-size: 20px;
    background-color: #ECDB54;
  }

  .searchCity {
    width: 75%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
  }
  .searchBar {

    padding-left: 10px;
    height: 35px;
    width: 88%;
    color: rgba(138, 155, 67, 0.81);
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px 0px 0px 20px;
   
  }
  .myBtn {
    margin: 0px;
    top: 0px;

    height: 35px;
    width: 12%;
    color: rgba(138, 155, 67, 0.81);
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
  }


}

@media only screen and (orientation: landscape) {


  .contenedor {
    margin: 1px;
    background-color: black;
  }
  .contenedorForecast {
    margin-bottom: 40px;
    margin-top: 36px;
  }

  .footer {
    overflow: hidden;
    position: fixed;
    /*Set the navbar to fixed */
    bottom: 0;
    /*Position the navbar at the top of the page */
    width: 100%;
    /*Full width */
    background-color: rgba(1, 2, 1, 0.98);
    height: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  p {
    margin: 0px;
  }

  .mainCity {
    overflow: hidden;
    position: fixed;
    /*Set the navbar to fixed position */
    top: 0;
    /*Position the navbar at the top of the page*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: aliceblue;
    background-color: rgba(26, 74, 111, 0.81);
  }
  .titulo {

    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    background-color: #062F4F;   
    height: 240px;
    display: flex;
    flex-direction: row;
  }

  .titulo2 {
    color: aliceblue;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .titulo2 h3 {
    font-size: 65px;
    margin: 1px;
  }
  .titulo2 h4 {
    font-size: 16px;
    margin: 2px;
  }
  .titulo2 h6 {
    font-size: 12px;
    margin: 2px;
  }
  .icon {
    width: 55%;
  }
  .titulo3 {
    color: aliceblue;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .scrollingwrapper {
    background-color: rgba(26, 74, 111, 0.65);
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .temp {
    display: inline-block;
    width: 16%;
  }

  .detail {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .iconDetail {
    width: 95%;
  }

  .byDay {
    display: flex;
    justify-content: center;
  }
  .detalleDay {
    padding-left: 10px;
    color: aliceblue;
    border: 3px solid linear-gradient(rgba(8, 32, 109, 0.67), rgba(47, 97, 136, 0.82));
    background: linear-gradient(rgba(26, 74, 111, 0.65), rgba(47, 97, 136, 0.82));
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    display: flex;
    align-items: center;
    flex: 2;
  }
  .detalleDay h5 {
    font-size: 25px;
  }
  .detalleDay2 {
    color: aliceblue;
    border: 3px solid linear-gradient(rgba(8, 32, 109, 0.67), rgba(47, 97, 136, 0.82));
    background: linear-gradient(rgba(26, 74, 111, 0.65), rgba(47, 97, 136, 0.82));
    border-bottom: 1px solid rgba(240, 248, 255, 0.44);
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex: 1;
  }

  .logo {
    width: 40%;
  }

  .mainContenCity {
    display: none;
    margin-top: 64px;
    margin-bottom: 35px;
    flex-direction: column;
  }
  .contenCity {
    display: flex;
  }
  .contenCity > div {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 0.5px;
    height: 90px;
    border: 0.3px solid #262216;
  }
  .contenCity h5 {
    font-weight: 550;
    font-size: 30px;
  }
  .contenCity h6 {
    font-weight: 550;

  }
  .city {
    width: 65%;
    color: #D2691E;
    background-color: #EADEDB;
  }
  .detalleCity {
    width: 35%;
    color: #E94B3C;
    font-size: 20px;
    background-color: #ECDB54;
  }

  .searchCity {
    width: 75%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
  }
  .searchBar {
    background: white;
    padding-left: 10px;
    height: 35px;
    width: 88%;
    color: rgba(138, 155, 67, 0.81);
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px 0px 0px 20px;
  }
  .myBtn {
    background: white;
    margin: 0px;
    top: 0px;
    height: 35px;
    width: 12%;
    color: rgba(138, 155, 67, 0.81);
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
  }

}
